#s-a915552a-ca95-4801-a1e6-0783360a57f2 > #backgroundBox {
  position: absolute;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 > #alignmentBox {
  position: relative;
  max-width: 768.0px;
  max-height: 1024.0px;
  width: 100%;
  height: 100%;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 {
  position: absolute;
  width: 1025.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 {
  position: absolute;
  width: 1024.0px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FC0D1B;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_1 {
  position: absolute;
  width: 42.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_1 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 {
  position: absolute;
  width: 342.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 {
  position: absolute;
  width: 343.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 {
  position: absolute;
  width: 342.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_2 {
  position: absolute;
  width: 53.0px;
  height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_2 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_3 {
  position: absolute;
  width: 43.0px;
  height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_3 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_4 {
  position: absolute;
  width: 42.0px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_4 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_5 {
  position: absolute;
  width: 56.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_5 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 {
  position: absolute;
  width: 840.0px;
  min-height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
  line-height: 30px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 {
  position: absolute;
  width: 1025.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 {
  position: absolute;
  width: 1025.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 {
  position: absolute;
  width: 677.0px;
  min-height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
  line-height: 30px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 {
  position: absolute;
  width: 1025.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.000001pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 {
  position: absolute;
  width: 817.0px;
  min-height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 > .borderLayer {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
  line-height: 30px;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span#rtr-s-Paragraph_4_2 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span#rtr-s-Paragraph_4_3 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Paragraph_4 span#rtr-s-Paragraph_4_4 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.999999pt;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_6 {
  position: absolute;
  width: 578.0px;
  height: 325.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_6 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_7 {
  position: absolute;
  width: 300.0px;
  height: 300.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_7 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_8 {
  position: absolute;
  width: 205.0px;
  height: 335.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_8 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_9 {
  position: absolute;
  width: 402.0px;
  height: 292.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_9 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_10 {
  position: absolute;
  width: 454.0px;
  height: 291.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_10 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_11 {
  position: absolute;
  width: 731.0px;
  height: 411.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_11 {
  box-shadow: none;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_12 {
  position: absolute;
  width: 100.0px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a915552a-ca95-4801-a1e6-0783360a57f2 #s-Image_12 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a915552a-ca95-4801-a1e6-0783360a57f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}